html {
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #222;
    text-rendering: optimizeLegibility;
}

a {
    color: $primaryYellow;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        color: #ffe84b;
        text-decoration: none;
    }
}
