
main {
    padding: 2rem 0;
}

.post-content {
    font-size: 1.1rem;
    line-height: 1.6;
}

.nextend-shadow {
    opacity: 0.4 !important;
}

body.home main {
    padding-bottom: 0;
}

.home-video {
    padding: 45px 0;
    background: $darkGrey;
    color: #fff;
    display: flex;
    p {
        font-size: 0.9rem;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .container {
        display:flex;
        flex-direction: column;
        p {
            flex: 0 1 100%
        }
        p:first-of-type { // video / iframe trick
            position: relative;
            padding-bottom: 54.25%;
            padding-top: 25px;
            height: 0;
        }
    }
}
