.site-footer {
    background-color: $darkGrey;
    color: #fff;
    font-size: 0.9rem;
    padding: 2rem 0;
    a {
        color: $primaryYellow;
        transition: color 0.25s;
        text-decoration: none;
        font-weight: 700;
        &:hover {
            color: $brandYellow;
        }
    }
}
.social-container {
    background-color: $primaryYellow;
    padding: 1rem 0;
    a {
        display: inline-block;
        margin: 0 0.25rem;
        font-size: 1.6rem;
        text-decoration: none;
        background: #fff;
        color: $primaryYellow;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        &:hover {
            box-shadow: 0 10px 10px rgba(black,0.3);
            background: $primaryYellow;
            color: #fff;
        }
    }
    i {
        display: inline;

    }
}

.footer-contact {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    min-width: 25%;
}
.footer-links {
    li {
        margin-bottom: 0.5rem;
    }
}
.footer-accredited {
    margin-left: auto;
    p:first-of-type {
        padding-left: 1rem;
    }
}

@media screen and(max-width: 990px) {
    .footer-accredited {
        flex-basis: 25%;
    }
}
@media screen and (max-width: 596px) {
    .site-footer > .container {
        flex-wrap: wrap;
    }
    .footer-contact,
    .footer-links {
        text-align: center;
        flex: 1 0 100%;
    }
    .footer-accredited {
        flex-basis: 66%;
    }
}
