.site-header {
    background-color: $darkGrey;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    height: 160px;
    // overflow: hidden;
    // height: auto;
    transition: all 0.25s ease-in-out;
    .container {
        height: 100%;
    }
}

.header-logo {
    transition: all 0.25s ease-in-out;
    padding: 8px 0;
    img {
        height: 100%;
        width: auto;
        transition: all 0.25s ease-in-out;
    }
}
.header-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header-phone {
    flex-grow: 1;
    align-self: flex-end;
    a {
        font-size: 28px;
        color: $primaryYellow;
        text-decoration: none;
        transition: color 0.25s;
    }
    a:hover {
        color: lighten($brandYellow, 10%);
    }
}

.shrink {
    margin-top: 100px;
    .site-header {
        z-index: 9999;
        height: 100px;
        position: fixed;
        // height: 100px;
        .header-logo {
            padding: 8px 0;
        }
    }
}

.header-nav-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.search-toggle  {
    display: block;
    background: $primaryYellow;
    color: #fff;
    padding: 2px 8px;
    margin-left: 8px;
    border-radius: 4px;
    text-decoration: none;
}

.search-bar {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: $brandYellow;
    padding: 0.5rem 0;
    z-index: 9998;
    input[type="text"] {
        width: 100%;
        background: transparent;
        border: 0;
        padding: 0.25rem;
        font-size: 1.6rem;
        color: darken($brandYellow,25%);
        border-radius: 0;
        border-bottom: 1px solid darken($brandYellow,13%);
        &::placeholder {
            color: darken($brandYellow,25%);
        }
        &:focus {
            outline: 0;
        }
    }
}

.main-navigation {
    align-self: flex-end;
}

.hamburger {
    display: block;
    float: right;
    margin-left: 1rem;
    color: #fff !important;
    text-decoration: none;
}

// Sticky form
.sticky-form-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 350px;
    opacity: 0.9;
    background-color: $primaryYellow;
    // background:
    border-radius: 0 0 8px 8px;
    border: 2px solid $primaryYellow;
    box-shadow: 1px 8px 18px rgba(black,0.5);
    a {
        display: block;
        text-align: center;
        text-decoration: none;
        height: 45px;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        color: $darkGrey;
        &:hover, &:active, &:focus {
            text-decoration: none;
            color: #fff;
        }
    }
    &.is-open {
        opacity: 1;
        a {
            color: #fff;
        }
    }
}

.sticky-form {
    display: none;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    background: #fff;
    margin: 0 2px 2px 2px;
}


@media screen and (max-width: 1200px) {
    .site-header {
        height: 150px;
    }
    header > .container {
        width: 100%;
    }
}
@media screen and (max-width: 790px) {
    .site-header .container {
        width: 100%;
    }
    .sticky-form-wrap {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 560px) {
    .header-logo {
        flex: 0 1 10%;
        padding: 8px 0;
        max-width: 100px;
    }
    .site-header {
        height: 100px;
    }
    .header-phone {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .hamburger {
            align-self: flex-end;
        }
    }
    .header-phone {
        a {
            font-size: 1.3rem;
            &.hamburger {
                font-size: 2.4rem;
            }
        }

    }
    .sticky-form-wrap a {
        height: 32px;
        line-height: 32px;
        font-size: 1rem;
    }

}
