.mobnav {
    position: absolute;
    z-index: 9999;
    display:none;
    top: 100%;
    right: 0;
    width: 400px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $primaryYellow;
    box-shadow: -5px 5px 15px rgba(black,0.3);
}
.mobnav .subnav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
    }
    li {
		position: relative;
	}
}

// First level parents
.mobnav .subnav > ul > li > a {
	// display: none;
    font-size: 1.1rem !important;
}

.mobnav .subnav ul li:not(:last-child) a {
    border-bottom: 1px solid #ffe531;
}
.mobnav .subnav ul li a,
.mobnav .subnav ul ul li a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 55px 15px 20px;
    background: transparent;
    color: $darkGrey;
}

.mobnav .subnav ul ul li > a:hover,
.mobnav .subnav ul li.current_page_item > a,
.mobnav .subnav ul ul li.current_page_item > a,
.mobnav .subnav ul ul li.current-page-ancestor.menu-item-has-children > a {
    background: #e4c700;
}

.mobnav .subnav a {
    display: block;
    position: relative;
    font-weight: bolder;
    text-decoration: none;
}

.mobnav .subnav a span.accordian_toggle {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ffe531;
}

.mobnav .subnav a span.accordian_toggle:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "";
    color: darken($brandYellow,30%);
    font-size: 30px;
    transition: transform 0.25s ease;
}

// .mobnav .subnav ul ul li.current-page-ancestor.menu-item-has-children .accordian_toggle:after,
// .mobnav .subnav ul ul li.current-menu-item.menu-item-has-children .accordian_toggle:after {
// 	transform: rotate(90deg);
// }

.accordian_toggle:not(.is-closed):after {
    transform: rotate(90deg);
}

.accordian_toggle.is-closed:hover:after {
	transform: rotate(90deg);
}

// Second Level
// .mobnav .subnav ul ul ul,
.mobnav .subnav ul li:not(.current-page-parent) ul,
.mobnav .subnav ul ul li:not(.current-page-parent) ul {
	display: none; // !!! disabled during development!!!
}
.mobnav .subnav ul li.current-page-parent ul,
.mobnav .subnav ul li.current-menu-item ul,
.mobnav .subnav ul ul li.current-menu-item.menu-item-has-children ul,
.mobnav .subnav ul li.current-page-ancestor ul,
.mobnav .subnav ul ul li.current-page-parent ul {
	display: block;
}
.mobnav .subnav ul ul ul li:not(:last-child) a {
    border-bottom: none;
}
.mobnav .subnav ul ul li a {
    padding: 10px 55px 10px 40px;
    background: #ffe218;
}
.mobnav .subnav ul ul ul li a {
    padding: 10px 55px 10px 60px;
    background: #ffe531;
    color: $darkGrey;
}
.mobnav .subnav ul ul ul li > a:hover,
.mobnav .subnav ul ul ul li.current_page_item > a {
    background: #fddd00;
    color: $darkGrey;
}


// Sidebar button nav
.mobile-btn-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    a {
        border-radius: 7px;
        padding: 12px 15px;
        margin: 0.35rem 0;
        display: block;
        font-weight: 700;
        background: $primaryYellow;
        color: $blueGrey;
        transition: background 0.3s ease;
        &:hover {
            background: darken($primaryYellow,10%);
        }
    }
    img {
        display: inline-block;
        margin-right: 1rem;
        width: 45px;
        height: auto;
    }
}


// button nav
.mobnav .btn-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    a {
        padding: 12px 15px;
        margin: 0;
        display: block;
        font-weight: 700;
        background: $brandYellow;
        color: $blueGrey;
        transition: background 0.3s ease;
        &:hover {
            background: darken($brandYellow,5%);
        }
    }
    img {
        display: inline-block;
        margin: 0 1rem;
        width: 45px;
        height: auto;
    }
}

.xSubnav {
    background: $brandYellow;
    text-align: center;
    a {
        display: block;
        color: darken($brandYellow,40%);
        padding: 0.5rem 0;
    }
}

@media screen and (max-width: 540px) {
    .mobnav {
        width: 100%;
    }
}
