.sidenav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		position: relative;
	}
}

.sidenav-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: lighter;
	color: #262729;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-bottom: 0.5rem;
}

// Hide the parent link
.sidenav > ul > li > a {
	display: none;
}

.sidenav ul ul li:not(:last-child) a,
.sidenav-title {
    border-bottom: 1px solid #bbbbbb;
}
.sidenav ul ul li a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px 15px 20px;
    background: transparent;
    color: $darkGrey;
}

.sidenav ul ul li > a:hover,
.sidenav ul li.current_page_item > a,
.sidenav ul ul li.current_page_item > a {
    background: $blueGrey;
    color: #fff;
}

.sidenav a {
    display: block;
    position: relative;
    font-weight: lighter;
    text-decoration: none;
}

// Toggle
.sidenav ul ul li.menu-item-has-children > a:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 1rem;
    transform: translateY(-50%);
    content: "ï„";
    font-size: 25px;
}

// Second Level
// .sidenav ul ul ul,
.sidenav ul li:not(.current-page-parent) ul,
.sidenav ul ul li:not(.current-page-parent) ul {
	display: none;
}
.sidenav ul li.current-page-parent ul,
.sidenav ul li.current-menu-item ul,
.sidenav ul li.current-menu-item.menu-item-has-children ul,
.sidenav ul li.current-page-ancestor ul,
.sidenav ul ul li.current-page-parent ul {
	display: block;
}
.sidenav ul ul ul li:not(:last-child) a {
    border-bottom: none;
}
.sidenav ul ul ul li a {
    padding: 10px 20px 10px 40px;
    background: #f8f8f8;
    color: $darkGrey;
}
.sidenav ul ul ul li > a:hover,
.sidenav ul ul ul li.current_page_item > a {
    background: #eeeeee;
    color: $darkGrey;
}


// Sidebar button nav
.sidebar-btn-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    a {
        border-radius: 7px;
        padding: 12px 15px;
        margin: 0.35rem 0;
        display: block;
        font-weight: 700;
        background: $primaryYellow;
        color: $blueGrey;
        transition: background 0.3s ease;
        &:hover {
            background: darken($primaryYellow,10%);
        }
    }
    img {
        display: inline-block;
        margin-right: 1rem;
        width: 45px;
        height: auto;
    }
}
