.sidenav .subnav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		position: relative;
	}
}

.sidenav .subnav-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: lighter;
	color: #262729;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-bottom: 0.5rem;
}

// Hide the parent link
.sidenav .subnav > ul > li > a {
	display: none;
}

.sidenav .subnav ul ul li:not(:last-child) a,
.sidenav .subnav-title {
    border-bottom: 1px solid #bbbbbb;
}
.sidenav .subnav ul ul li a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px 15px 20px;
    background: transparent;
    color: $darkGrey;
}

.sidenav .subnav ul ul li > a:hover,
.sidenav .subnav ul li.current_page_item > a,
.sidenav .subnav ul ul li.current_page_item > a,
.sidenav .subnav ul ul li.current-page-ancestor.menu-item-has-children > a {
    background: $blueGrey;
    color: #fff;
}

.sidenav .subnav a {
    display: block;
    position: relative;
    font-weight: lighter;
    text-decoration: none;
}

// Toggle
// .sidenav .subnav ul ul li.menu-item-has-children > a:after {
//     font-family: FontAwesome;
//     font-style: normal;
//     font-weight: normal;
//     text-decoration: inherit;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 0;
//     padding: 0 1rem;
//     transform: translateY(-50%);
//     content: "";
//     font-size: 25px;
// }

// .sidenav .subnav ul ul li.current-page-ancestor.menu-item-has-children > a:after,
// .sidenav .subnav ul ul li.current-menu-item.menu-item-has-children > a:after {
// 	transform: translateY(-50%) rotate(90deg);
// }
.sidenav .subnav a span.accordian_toggle {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
}
.sidenav .subnav a span.accordian_toggle:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "";
    font-size: 25px;
}

.sidenav .subnav ul ul li.current-page-ancestor.menu-item-has-children .accordian_toggle:after,
.sidenav .subnav ul ul li.current-menu-item.menu-item-has-children .accordian_toggle:after {
	transform: rotate(90deg);
}

.accordian_toggle.is-closed:hover {
	transform: rotate(90deg);
}

// Second Level
// .sidenav .subnav ul ul ul,
.sidenav .subnav ul li:not(.current-page-parent) ul,
.sidenav .subnav ul ul li:not(.current-page-parent) ul {
	display: none;
}
.sidenav .subnav ul li.current-page-parent ul,
.sidenav .subnav ul li.current-menu-item ul,
.sidenav .subnav ul ul li.current-menu-item.menu-item-has-children ul,
.sidenav .subnav ul li.current-page-ancestor ul,
.sidenav .subnav ul ul li.current-page-parent ul {
	display: block;
}
.sidenav .subnav ul ul ul li:not(:last-child) a {
    border-bottom: none;
}
.sidenav .subnav ul ul ul li a {
    padding: 10px 20px 10px 40px;
    background: #f8f8f8;
    color: $darkGrey;
}
.sidenav .subnav ul ul ul li > a:hover,
.sidenav .subnav ul ul ul li.current_page_item > a {
    background: #eeeeee;
    color: $darkGrey;
}


// Sidebar button nav
.sidenav .btn-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    a {
        border-radius: 7px;
        padding: 12px 15px;
        margin: 0.35rem 0;
        display: block;
        font-weight: 700;
        background: $primaryYellow;
        color: $blueGrey;
        transition: background 0.3s ease;
        &:hover {
            background: darken($primaryYellow,10%);
        }
    }
    img {
        display: inline-block;
        margin-right: 1rem;
        width: 45px;
        height: auto;
    }
}
